<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Push App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Notifications</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let message of pushMessages">
      <ion-label>
        <h3>{{message.title}}</h3>
        <p>{{message.body}}</p>
        <p>{{message.aditionalData | json}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
